/* FILEPATH: /C:/Users/the_v/Code/Ostad-Laravel-course/Assignment-Exam-Week-1/profile_card/assets/css/main.css */

/* Google Fonts */
/* - Nunito: 200, 300, 400, 600, 700, 800, 900, 1000 */
/* - PT Sans: 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variables */
:root {
    --title-font: 'Nunito', sans-serif;
    --body-font: 'PT Sans', sans-serif;
    --title-color: #333;
    --sub-title-color: #4e4d4d;
    --body-color: #666;
    --border-color: #636363;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    display: flex;
    align-items: center;
    min-height: 100vh;
}


/* Profile Card Styles */

.profile-card {

    width: 350px;
    height: 400px;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 5px;
}

.profile-card h2 {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 1.5rem;
}

#occupation {
    font-family: var(--title-font);
    color: var(--sub-title-color);
    font-weight: 700;
}

#description {
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: 0.9rem;
    margin: 10px 0;
}

/* BEGIN: Contact Details Styles */
.contact-details {

    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    border-top: 2px dotted var(--border-color);
    border-bottom: 2px dotted var(--border-color);
    padding: 2px 0;
}

.contact-details p {
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: 0.9rem;
}

.contact-details a {
    color: #007bff;
    text-decoration: none;
}

/* END: Contact Details Styles */